<h1 class="text-center mb-4">Yo <%= current_user.name %>, alors qu'est-ce que t'attends !?</h1>
<%= render 'tasks/task_form'  %>
<div class="container" id="tasks">
  <ul>
  <% @categories.each do  |category|%>
  <li><%= category.title  %></li>
  <div class="card">
    <ul>
      <% category.tasks.each do |task|  %>
      <li>
        <%= task.content  %>
        <% unless task.deadline.nil? %>
          , à faire avant : <%= task.deadline.strftime('%D')  %>
        <% end %>
        <%= link_to task, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' do %>
          <i class="fas fa-trash-alt text-danger"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>
