<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Emails</h1>

  <div class="row">
    <div class="col-4">
      <table>
        <thead>
          <tr>
            <th>Object</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @emails.each do |email| %>
          <tr id="email_<%=email.id%>">
            <td>
              <%= link_to email_path(email), :remote => true do %>
                <span id="enveloppe_<%= email.id %>">
                <% if email.read == true %>
                  <i class="fas fa-envelope-open"></i>
                <% else %>
                  <i class="fas fa-envelope"></i>
                <% end %>
                </span>
                <%= email.object %>
              <% end %>
            </td>
            <td>
              <%= link_to edit_email_path(email) do %>
              <i class="fas fa-edit text-info"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-8 border" id="email">
      <!-- body des emails à afficher ici -->
    </div>
  </div>

  <br>
  <%= link_to 'New Email', new_email_path %>
</div>
